.header {
    height: 150px;
}
.main {
    width: 1000px;
    margin: 20px 0 0 100px;
}
.main .register_form {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.main .register_form .register_title {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #999;
    line-height: 40px;
}
.main .register_form .register_title h2 {
    display: inline-block;
}
.main .register_form .register_title .go_login {
    float: right;
    margin-right: 20px;
    font-size: 14px;
}
.main .register_form form {
    margin-top: 20px;
}
.main .register_form form span {
    display: inline-block;
    margin: 30px 0 20px 200px;
}
.main .register_form form input {
    width: 340px;
    height: 40px;
    border: 1px solid #ccc;
}
.main .agree {
    margin: 20px 0 0 209px;
}
.main .register_form form .submit {
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px 0 0 300px;
    border: 0;
    border-radius: 5px;
    background-color: #ffc0cb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.if_hidden {
    position: absolute;
    top: 370px;
    left: 650px;
    font-family: 'icomoon';
    font-size: 18px;
    cursor: pointer;
}