.header-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: -webkit-linear-gradient(left,#d9a7c7,#fffcdc);
    z-index: 999;
}
.header-title p {
    color: #fff;
    text-align: center;
    line-height: 4rem;
    font-size: 18px;
}
.header-title .operation {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 16px;
}
.goods-list {
    overflow: auto;
    width: 90%;
    height: 75%;
    margin-left: 5%;
}
.goods-list .goods-none {
    display: none;
}
.goods-list .goods-none p,
.goods-list .goods-none a {
    text-align: center;
    font-size: 14px;
}
.goods-list .goods-none a {
    display: inline-block;
    width: 5.3333rem;
    height: 1.6rem;
    margin: 10% 0 0 40%;
    border-radius: .8rem;
    background: -webkit-linear-gradient(left,#40e0d0,#ff8c00,#ff0080);
    line-height: 1.6rem;
    color: #fff;
}
.goods-list ul .goods {
    position: relative;
    width: 100%;
    height: 7.3333rem;
    margin-top: 2.6667rem;
    background-color: #fff;
}
.goods-list ul .goods:nth-child(2) {
    margin-top: 6.9333rem;
}
.goods-list ul .goods input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}
.goods-list ul .goods .goods-info {
    position: relative;
    width: 90%;
    height: 100%;
    margin: -5.5% 0 0 10%;
}
.goods-list ul .goods .goods-info img {
    width: 7.3333rem;
    height: 100%;
    vertical-align: top;
}
.goods-list ul .goods .goods-info .title {
    position: absolute;
    top: 5%;
    left: 40%;
    overflow: hidden;
    display: -webkit-box;
    width: 60%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.goods-list ul .goods .goods-info .price {
    display: inline-block;
    margin-top: 20%;
    color: #ff0000;
}
.goods-list ul .goods .goods-info .total_price {
    display: inline-block;
    margin-left: 0;
    color: #ff0000;
    font-size: 16px;
}
.goods-list ul .goods .goods-info .plus,
.goods-list ul .goods .goods-info .minus,
.goods-list ul .goods .goods-info input[type="text"] {
    display: inline-block;
    width: 1.8667rem;
    height: 1.8667rem;
    vertical-align: middle;
}
.goods-list ul .goods .goods-info .plus,
.goods-list ul .goods .goods-info .minus {
    background-color: #999;
    color: #fff;
    text-align: center;
    line-height: 1.8667rem;
    font-size: 18px;
}
.goods-list ul .goods .goods-info .plus {
    margin: 3.2rem 0 0 -8rem;
}
.goods-list ul .goods .goods-info .minus {
    margin: 3.2rem 0 0 -2.5%;
}
.goods-list ul .goods .goods-info input[type="text"] {
    width: 2.4rem;
    border: 1px solid #ccc;
    margin: 3.2rem 0 0 -2.4%;
}
.goods-list ul .goods .goods-info input[value] {
    text-align: center;
}
.settlement {
    position: fixed;
    bottom: 10%;
    width: 90%;
    height: 2.6667rem;
    margin-left: 5%;
    border-radius: 1.3333rem;
    background-color: #fff;
}
.settlement .all {
    margin: 4% 0 0 5%;
    vertical-align: bottom;
}
.settlement .count-price {
    float: right;
    height: 100%;
    line-height: 2.6667rem;
}
.settlement .count-price span {
    color: #ff0000;
    margin-right: .8rem;
}
.settlement .count-price .btn {
    display: inline-block;
    width: 5.3333rem;
    height: 100%;
    border-top-right-radius: 1.333rem;
    border-bottom-right-radius: 1.333rem;
    background-color: #ffc0cb;
    color: #fff;
    text-align: center;
    line-height: 2.6667rem;
    font-size: 16px;
}
.header-title .operations {
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 16px;
}