table {
    overflow-x: auto;
    width: 90%;
    margin: .5333rem 0 1.3333rem  5%;
    border-collapse: collapse;
}
table thead tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table thead tr th {
    height: 2.1333rem;
}
table tbody tr {
    border-bottom: 1px solid #ccc;
}
table tbody tr td {
    text-align: center;
}
table tbody tr td img {
    width: 2.6667rem;
    height: 2.6667rem;
}
.ui-paging {
    display: flex;
    width: 22.4rem;
    margin-top: .8rem;
}
.ui-paging .a,
.ui-paging .active {
    width: 2.6667rem;
    height: 2.6667rem;
    border-radius: 5px;
    text-align: center;
    line-height: 2.6667rem;
    font-size: 16px;
    transition: all 0.3s;
}
.ui-paging .icon {
    width: 6.4rem;
}
.ui-paging .active {
    background-color: #4CAF50;
    color: #fff;
}